#html {
    height: 100%;
    width: 100%;

    padding-top: 0 !important;
    margin: 0 !important;

    scroll-behavior: smooth;
}

#body {
    height: 100%;
    width: 100%;

    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    padding: 5px 8px 5px 0;
    margin: 0;
}

.logo {
    height: 30px;
}

.header {
    margin-left: 9%;
    font-size: 22px;    
    font-weight: bold;
}

.header-caption {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0;
}

.content-wrapper {
    margin-bottom: 2%;
}

.article {
    padding-top: 10px;
}

.navbar-scroll-up {
    display: none;
    align-items: center;
}

.scroll-up {
    margin: 4px auto;
    align-self: center;
}

.scroll-up-dark {
    background: #555;
}

.nav-links {
    margin-left: -5px;
    margin-bottom: 30px;
}

.nav-light-links {
    background-color: #eeeeee !important;
}

.nav-dark-links {
    background-color: #343a40 !important;
}

.scroll-icon {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500;
}

.scroll-light-icon {
    background-color: #ccc;
}

.scroll-dark-icon {
    background-color: #333; 
}

.scroll-icon:hover {
    outline-style: auto;
    outline-width: 2px;
}

.scroll-light-icon:hover {
    outline-color: #000;
}

.scroll-dark-icon:hover {
    outline-color: #FFF;
    background-color: #000 !important;
}

.link {
    margin-left: 5px;
    font-weight: 500;
}

.link-light {
    background-color: #ccc;
}

.link-dark {
    background-color: #333; 
    /* TODO */
}

.link-light:hover {
    outline-color: #000;
}

.link-dark:hover {
    outline-color: #FFF;
}

.link:hover {
    outline-style: auto;
    outline-width: 2px;
}

svg {
    outline-style: hidden;
    margin: 0;
}

.readme-md-wrapper {
    margin-top: 70px;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}