html {
    height: 100%;
    width: 100%;

    padding-top: 0 !important;
    margin: 0 !important;

    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;

    padding: 0 !important;
    margin: 0 !important;
}

.navbar {
    padding: 5px 8px 5px 0;
    margin: 0;
}

.logo {
    height: 30px;
}

.header {
    margin-left: 9%;
    font-size: 22px;    
    font-weight: bold;
}

.header-caption {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0;
}

.content-wrapper {
    margin-top: 1%;
    margin-bottom: 2%;
}

.scroll-up {
    margin: 4px auto;
}

#scroll-up-dark {
    background: #555;
}

::-webkit-scrollbar {
    width: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: #999; 
    border-radius: 8px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #666; 
}