.bg-dark {
    color: #FFF;
}
.bg-light {
    color: #000;
}

.theme-button {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.theme-button:active {
    outline: none;
}

.dark-theme-button {
    background-color: #414141;
}
.light-theme-button {
    background-color: rgb(223, 222, 222);
}

.light-theme {
    color: rgb(223, 222, 222);
}
.dark-theme {
    color: #411441;
}

.theme {
    margin-left: auto;
    margin-right: 0;
    padding: 5px;
}

.navbar-light {
    background-color: #ccc;
}

.navbar-dark {
    background-color: #333;
}

.bg-light {
    background-color: #eee !important;
}

.bg-dark {
    background-color: #3e3e3e;
}