html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;

    padding: 0 !important;
    margin: 0;
}

.navbar {
    padding: 5px 8px 5px 0;
    margin: 5px 0 5px 0;
}

.logo {
    height: 30px;
}

.header {
    margin-left: 9%;
    font-size: 22px;
    font-weight: bold;
}

.header-caption {
    margin-top: auto;
    margin-bottom: 0;
    padding: 0;
}

.content-wrapper {
    margin-top: 1%;
}